.quote-cards {
  display: grid;
  justify-content: start;
  align-items: start;

  @media (min-width: $md) {
    grid-auto-flow: column;
  }
}

.quote-card {
  display: grid;
  grid-template-areas: 
    "photo introduction"
    "text  text";
  grid-template-columns: auto 1fr;
  gap: .75rem;
  align-items: start;
  
  border-radius: var(--border-radius);
  padding: 1.5rem .75rem;
  @include background-alternate-crosses(--background-2-cross);
}

.quote-card__photo {
  grid-area: photo;
  width: 4rem;
  border-radius: var(--border-radius);
}

.quote-card__introduction {
  grid-area: introduction;
  font-weight: 700;
}

.quote-card__name {
  color: var(--accent);
  font-size: inherit;
  margin: 0;
}

.quote-card__description {
  display: block;
  grid-area: description;
  color: var(--text);
  line-height: var(--line-height-small);
  margin: 0;
}

.quote-card__text {
  grid-area: text;
  margin-inline: 0;
}