@charset "UTF-8";
@font-face {
  font-family: "Dela Gothic One";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/dela-gothic-one-v10-latin_cyrillic-regular.woff2") format("woff2"), url("../assets/fonts/dela-gothic-one-v10-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/pt-sans-v17-latin_cyrillic-regular.woff2") format("woff2"), url("../assets/fonts/pt-sans-v17-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/pt-sans-v17-latin_cyrillic-700.woff2") format("woff2"), url("../assets/fonts/pt-sans-v17-latin_cyrillic-700.woff") format("woff");
}
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/pt-sans-narrow-v17-latin_cyrillic-regular.woff2") format("woff2"), url("../assets/fonts/pt-sans-narrow-v17-latin_cyrillic-regular.woff") format("woff");
}
@font-face {
  font-family: "PT Sans Narrow";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/pt-sans-narrow-v17-latin_cyrillic-700.woff2") format("woff2"), url("../assets/fonts/pt-sans-narrow-v17-latin_cyrillic-700.woff") format("woff");
}
@font-face {
  font-family: "Noto Emoji";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("../assets/fonts/noto-emoji-v34-emoji-regular.woff2") format("woff2"), url("../assets/fonts/noto-emoji-v34-emoji-regular.woff") format("woff");
}
.color-theme {
  /* Дефолтная цветовая тема */
  --background: #fff;
  --background-2: #fbc;
  --background-2-rgb: 255 187 204;
  --accent: #020881;
  --accent-rgb: 2 8 129;
  --text-accent: #fff;
  --text: #000;
  --accent-cross-opacity: .15;
  --background-2-cross-opacity: .1;
  /* Положение градиента по умолчанию */
  --stop-default: 70%;
  /* Переменные, позволяющие двигать каждый из двух градиентов креста отдельно.
     Присваиваем им значение по умолчанию, а потом будем менять через js. */
  --stop-horizontal-dynamic: var(--stop-default);
  --stop-vertical-dynamic: var(--stop-default);
  --accent-cross: linear-gradient(to bottom, rgb(var(--background-2-rgb)/0) 0, rgb(var(--background-2-rgb)/var(--accent-cross-opacity)) var(--stop-horizontal-dynamic), rgb(var(--background-2-rgb)/0) 100%), linear-gradient(to right, rgb(var(--background-2-rgb)/0) 0, rgb(var(--background-2-rgb)/var(--accent-cross-opacity)) var(--stop-vertical-dynamic), rgb(var(--background-2-rgb)/0) 100%), var(--accent);
  --accent-cross-inverse: linear-gradient(to bottom, rgb(var(--background-2-rgb)/0) 0, rgb(var(--background-2-rgb)/var(--accent-cross-opacity)) calc(100% - var(--stop-horizontal-dynamic)), rgb(var(--background-2-rgb)/0) 100%), linear-gradient(to right, rgb(var(--background-2-rgb)/0) 0, rgb(var(--background-2-rgb)/var(--accent-cross-opacity)) calc(100% - var(--stop-vertical-dynamic)), rgb(var(--background-2-rgb)/0) 100%), var(--accent);
  --background-2-cross: linear-gradient(to bottom, rgb(var(--accent-rgb)/0) 0, rgb(var(--accent-rgb)/var(--background-2-cross-opacity)) var(--stop-horizontal-dynamic), rgb(var(--accent-rgb)/0) 100%), linear-gradient(to right, rgb(var(--accent-rgb)/0) 0, rgb(var(--accent-rgb)/var(--background-2-cross-opacity)) var(--stop-vertical-dynamic), rgb(var(--accent-rgb)/0) 100%), var(--background-2);
  --background-2-cross-inverse: linear-gradient(to bottom, rgb(var(--accent-rgb)/0) 0, rgb(var(--accent-rgb)/var(--background-2-cross-opacity)) calc(100% - var(--stop-horizontal-dynamic)), rgb(var(--accent-rgb)/0) 100%), linear-gradient(to right, rgb(var(--accent-rgb)/0) 0, rgb(var(--accent-rgb)/var(--background-2-cross-opacity)) calc(100% - var(--stop-vertical-dynamic)), rgb(var(--accent-rgb)/0) 100%), var(--background-2);
}

.color-theme_name_green {
  --background: #2c6214;
  --background-2: #377b19;
  --background-2-rgb: 55 123 25;
  --accent: #e4ff00;
  --accent-rgb: 228 255 0;
  --text-accent: #003e4d;
  --text: #ffc;
  --accent-cross-opacity: .25;
  --background-2-cross-opacity: .2;
}

.color-theme_name_red {
  --background: #b62f2f;
  --background-2: #ce4141;
  --background-2-rgb: 206 65 65;
  --accent: #fbff60;
  --accent-rgb: 251 255 96;
  --text-accent: #110046;
  --text: #ffc;
  --accent-cross-opacity: .2;
  --background-2-cross-opacity: .2;
}

.color-theme_name_brown {
  --background: #6c4100;
  --background-2: #7a5112;
  --background-2-rgb: 122 81 18;
  --accent: #ffe900;
  --accent-rgb: 255 233 0;
  --text-accent: #000;
  --text: #fff;
  --accent-cross-opacity: .25;
  --background-2-cross-opacity: .2;
}

.color-theme_name_police {
  --background: #1b1387;
  --background-2: #291fc7;
  --background-2-rgb: 41 31 199;
  --accent: #df1313;
  --accent-rgb: 223 19 19;
  --text-accent: #fff;
  --text: #fff;
  --accent-cross-opacity: .15;
  --background-2-cross-opacity: .3;
}

.color-theme_name_blue {
  --background: #2b1387;
  --background-2: #291fc7;
  --background-2-rgb: 41 31 199;
  --accent: #ffd100;
  --accent-rgb: 255 209 0;
  --text-accent: #000;
  --text: #fff;
  --accent-cross-opacity: .2;
  --background-2-cross-opacity: .15;
}

/* TODO: Автоматическое включение в случае prefers...dark делать через js */
.color-theme_name_dark {
  --background: #151515;
  --background-2: #002843;
  --background-2-rgb: 0 40 67;
  --accent: #f85;
  --accent-rgb: 255 136 85;
  --text-accent: #000;
  --text: #fff;
  --accent-cross-opacity: .15;
  --background-2-cross-opacity: .15;
}

:root {
  --border-radius: 1rem;
  --border-radius-tiny: .25rem;
  --line-height-small: 116%;
}

.html {
  background: var(--background);
  font: 400 16px/140% "PT Sans", sans-serif;
  color: var(--text);
}
@media (min-width: 1400px) {
  .html {
    font-size: 24px;
  }
}
@media (min-width: 1920px) {
  .html {
    font-size: 32px;
  }
}

.body {
  margin: 0;
}

.ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* TODO: Все стили перевести в миксины */
.h1 {
  margin-top: 0;
  margin-bottom: 0;
  /* Кегль меняется по собственной схеме, не как у h2 и h3.
     Поэтому значения заданы в px, а не в rem.*/
  font: 700 32px/115% "Dela Gothic One", sans-serif;
  color: var(--accent);
}
@media (min-width: 992px) {
  .h1 {
    font-size: 48px;
  }
}
@media (min-width: 1400px) {
  .h1 {
    font-size: 64px;
  }
}
@media (min-width: 1920px) {
  .h1 {
    font-size: 72px;
  }
}

.h2 {
  margin-top: 0;
  margin-bottom: 0;
  font: 700 1.3rem/120% "Dela Gothic One", sans-serif;
  text-transform: uppercase;
  color: var(--accent);
}

.h3, .upcoming-card__name, .button {
  margin-top: 0;
  margin-bottom: 0;
  font: 700 1.25rem/115% "Dela Gothic One", sans-serif;
  color: var(--accent);
  max-width: 28rem;
}

.paragraph {
  margin-top: 0;
  margin-bottom: 0;
  max-width: 30rem;
}

.container {
  width: calc(90% + 5px);
  margin-right: auto;
  margin-left: auto;
}

/* Чтобы браузер не окрашивал посещённые ссылки */
a {
  color: inherit;
}

.tag-series {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem 0.4rem;
}

.tag {
  font-family: "PT Sans Narrow", sans-serif;
  border: 0.07rem solid;
  border-radius: 9999px;
  padding: 0.05rem 0.7rem 0.15rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  white-space: nowrap;
  text-decoration: none;
}

.button {
  border: 0;
  border-radius: var(--border-radius);
  height: 4rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--accent-cross);
  color: var(--text-accent);
  max-width: unset;
}

.emoji {
  font-family: "Noto Emoji";
  font-weight: 400;
  color: var(--text);
}

.gaps-1, .gaps-4, .gaps-3, .gaps-2 {
  display: grid;
  align-items: start;
  gap: 6rem;
}

.gaps-2 {
  gap: 3rem;
}

.gaps-3 {
  gap: 1.5rem;
}

.gaps-4 {
  gap: 0.75rem;
}

.toggle-theme {
  font-family: "Noto Emoji";
}

.toggle-theme__icon {
  position: relative;
  bottom: -0.1rem;
}

.body__header {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.body__footer {
  margin-top: 8rem;
  margin-bottom: 1.5rem;
}

.main-menu {
  display: flex;
  max-width: unset;
}

.main-menu__item {
  background: var(--background-2-cross);
  color: var(--text);
  white-space: nowrap;
  padding: 0.3rem 1.5rem 0.45rem;
  border-radius: var(--border-radius);
  border: 0;
  text-decoration: none;
  /* https://stackoverflow.com/questions/21003535/anyway-to-prevent-the-blue-highlighting-of-elements-in-chrome-when-clicking-quic */
  -webkit-tap-highlight-color: transparent;
  /* Компенсируем невидимый padding */
  /* &:first-child {
    margin-left: -.5rem;
  } */
  /* Переход onmouseout */
  transition: background-color 0.6s, color 0.2s;
}
.main-menu__item:nth-child(even) {
  background: var(--background-2-cross-inverse);
}
.main-menu__item:active {
  /* Переход onmousein */
  transition: background-color 0.3s, color 0.2s;
  color: var(--text-accent);
  background: var(--accent-cross);
}
.main-menu__item:active:nth-child(even) {
  background: var(--accent-cross-inverse);
}
@media (pointer: fine) {
  .main-menu__item:hover {
    /* Переход onmousein */
    transition: background-color 0.3s, color 0.2s;
    color: var(--text-accent);
    background: var(--accent-cross);
  }
  .main-menu__item:hover:nth-child(even) {
    background: var(--accent-cross-inverse);
  }
}

.main-menu__item_short {
  padding-inline: 0.6rem;
}

.upcoming-cards {
  display: grid;
  gap: 3rem 1rem;
  align-items: stretch;
}
@media (min-width: 768px) {
  .upcoming-cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .upcoming-cards {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.upcoming-card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "cover" "info" "button";
}
@media (min-width: 992px) {
  .upcoming-card {
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "name         name" "tags         cover" "description  cover" "button       cover";
    gap: 1rem 3rem;
    border-radius: var(--border-radius);
    padding: 3rem 2rem;
    background: var(--background-2-cross);
  }
  .upcoming-card:nth-child(even) {
    background: var(--background-2-cross-inverse);
  }
}

.upcoming-card__cover {
  grid-area: cover;
  border-radius: var(--border-radius);
  width: 100%;
  cursor: pointer;
}

.upcoming-card__info {
  grid-area: info;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "name" "description" "tags";
  gap: 1rem;
  padding: 1.5rem 0.75rem;
  border-radius: var(--border-radius);
  background: var(--background-2-cross);
}
@media (min-width: 992px) {
  .upcoming-card__info {
    display: contents;
  }
}

.upcoming-card__name {
  grid-area: name;
  color: var(--accent);
}
@media (min-width: 992px) {
  .upcoming-card__name {
    margin-top: 0;
    margin-bottom: 0;
    /* Кегль меняется по собственной схеме, не как у h2 и h3.
       Поэтому значения заданы в px, а не в rem.*/
    font: 700 32px/115% "Dela Gothic One", sans-serif;
    color: var(--accent);
    margin-bottom: 0.2em;
    max-width: unset;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  .upcoming-card__name {
    font-size: 48px;
  }
}
@media (min-width: 992px) and (min-width: 1400px) {
  .upcoming-card__name {
    font-size: 64px;
  }
}
@media (min-width: 992px) and (min-width: 1920px) {
  .upcoming-card__name {
    font-size: 72px;
  }
}

.upcoming-card__description {
  grid-area: description;
  max-width: 20rem;
  line-height: var(--line-height-small);
}

.upcoming-card__tags {
  grid-area: tags;
  display: grid;
  grid-auto-flow: column;
  align-items: end;
  justify-content: space-between;
  padding-top: 1rem;
  border-top: 0.07rem solid;
}
@media (min-width: 992px) {
  .upcoming-card__tags {
    padding-top: 0;
    border-top: 0;
    padding-bottom: 1rem;
    border-bottom: 0.07rem solid;
  }
}

.upcoming-card__dates {
  flex-direction: column;
}
@media (min-width: 992px) {
  .upcoming-card__dates {
    flex-direction: row;
  }
}

.upcoming-card__button {
  grid-area: button;
}

.repertoire-cards {
  display: grid;
  gap: 3rem 1rem;
  align-items: stretch;
}
@media (min-width: 768px) {
  .repertoire-cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .repertoire-cards {
    grid-template-columns: 1fr;
  }
}

.repertoire-card {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  grid-template-areas: "cover" "name" "description" "tags";
  gap: 1rem 2rem;
}
@media (min-width: 992px) {
  .repertoire-card {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas: "cover name" "cover description" "cover tags";
  }
}

.repertoire-card__cover-wrapper {
  display: contents;
}

.repertoire-card__cover {
  grid-area: cover;
  border-radius: var(--border-radius);
  width: 100%;
}

.repertoire-card__name {
  grid-area: name;
  color: var(--accent);
}
@media (min-width: 992px) {
  .repertoire-card__name {
    align-self: end;
  }
}

.repertoire-card__description {
  grid-area: description;
  max-width: 25rem;
  line-height: var(--line-height-small);
}

.repertoire-card__tags {
  grid-area: tags;
}

.event-header {
  display: grid;
  grid-template-areas: "info" "img" "button";
}
@media (min-width: 992px) {
  .event-header {
    grid-template-areas: "info   img" "button img";
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr auto;
  }
}

.event-header__info {
  grid-area: info;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: var(--background-2-cross);
  border-radius: var(--border-radius);
  padding: 1.5rem 0.75rem;
}
@media (min-width: 992px) {
  .event-header__info {
    padding: 2rem 3rem;
  }
}

.event-header__type {
  font-weight: 700;
}

.event-header__name {
  color: var(--accent);
}

.event-header__tag {
  border-color: var(--accent);
}

.event-header__img {
  grid-area: img;
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.event-header__button {
  grid-area: button;
  position: -webkit-sticky;
  position: sticky;
  bottom: 1rem;
}
@media (min-width: 992px) {
  .event-header__button {
    position: static;
  }
}

.ticket-cards {
  display: grid;
}
@media (min-width: 576px) {
  .ticket-cards {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  }
}

.ticket-card {
  display: grid;
  gap: 0.75rem;
  border-radius: var(--border-radius);
  padding: 1rem 0.75rem;
  background: var(--background-2-cross);
}
.ticket-card:nth-child(even) {
  background: var(--background-2-cross-inverse);
}

.ticket-card__date {
  color: var(--text);
}

.ticket-card__address {
  line-height: var(--line-height-small);
}

.creators {
  display: grid;
}

.creators__card {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
  align-items: center;
  line-height: var(--line-height-small);
  border-radius: var(--border-radius);
  padding: 1rem 0.75rem;
  background: var(--background-2-cross);
}
.creators__card:nth-child(even) {
  background: var(--background-2-cross-inverse);
}

.creators__position {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
}

.creators__names {
  margin-top: 0;
  margin-bottom: 0;
  text-align: right;
  justify-self: end;
  max-width: 28rem;
}

.gallery {
  display: grid;
  grid-auto-flow: column;
  /* Если убрать это, то галерея будет уже промотана на середину (не помогает) */
  align-self: start;
  cursor: -webkit-grab;
  cursor: grab;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
@media (pointer: fine) {
  .gallery {
    -ms-scroll-snap-type: unset;
        scroll-snap-type: unset;
  }
}

.gallery__photo {
  border-radius: var(--border-radius);
  scroll-snap-align: center;
  scroll-snap-stop: always;
  /* TODO: С помощью JS растянуть фотку, если её реальный размер меньше срендеренного
     Вот эта строка работает, но тогда из-за max-height фотки исказятся*/
  /* Уменьшаем, если больше срендеренного (чаще всего это так) */
  max-width: min(80vw, 25rem);
  max-height: 80vh;
}

.scientists {
  display: grid;
  justify-content: start;
  align-items: start;
}
@media (min-width: 768px) {
  .scientists {
    grid-auto-flow: column;
  }
}

.scientist {
  display: grid;
  grid-template-areas: "photo name" "text  text";
  grid-template-columns: auto 1fr;
  gap: 0.75rem;
  align-items: start;
  border-radius: var(--border-radius);
  padding: 1.5rem 0.75rem;
  background: var(--background-2-cross);
}
.scientist:nth-child(even) {
  background: var(--background-2-cross-inverse);
}

.scientist__photo {
  grid-area: photo;
  width: 4rem;
  border-radius: var(--border-radius);
}

.scientist__name {
  grid-area: name;
  font-weight: 700;
  color: var(--accent);
}

.scientist__description {
  display: block;
  grid-area: description;
  color: var(--text);
  line-height: var(--line-height-small);
}

.scientist__text {
  grid-area: text;
}

.reviews-wrapper {
  display: grid;
  justify-items: start;
  overflow-x: auto;
}

.reviews {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: min(80vw, 20rem);
  grid-auto-columns: min(90vw, 20rem);
  align-items: start;
  justify-content: start;
  overflow: auto;
  cursor: -webkit-grab;
  cursor: grab;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
@media (pointer: fine) {
  .reviews {
    -ms-scroll-snap-type: unset;
        scroll-snap-type: unset;
  }
}

.review-card {
  display: grid;
  gap: 0.75rem;
  padding: 1.5rem 0.75rem;
  line-height: var(--line-height-small);
  border-radius: var(--border-radius);
  scroll-snap-align: center;
  scroll-snap-stop: always;
  background: var(--background-2-cross);
}
.review-card:nth-child(even) {
  background: var(--background-2-cross-inverse);
}

.review-card__author {
  font-weight: 700;
  color: var(--accent);
}

.about__founder-img {
  width: 1.5em;
  border-radius: var(--border-radius);
  margin-bottom: -0.4em;
}

/*  Начиная с md блок с ошибками кидаем вправо и позиционируем его абсолютно,
    чтобы он не создавал большой отступ снизу от .alehandro.
    До md имя и ошибки ведут себя, как несвязанные друг с другом блоки,
    поэтому display: contents */
.alehandro {
  display: contents;
}
@media (min-width: 768px) {
  .alehandro {
    display: block;
    position: relative;
    max-width: 50rem;
  }
}

@media (min-width: 768px) {
  .alehandro__mistakes {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.alehandro__li {
  -webkit-text-decoration: line-through 0.05em;
          text-decoration: line-through 0.05em;
}

.about-block {
  display: grid;
  grid-template-areas: "header" "img" "text";
  gap: 1rem 2rem;
  /*  Добавляем отступ сверху, чтобы визуально все отступы
      на странице казались одинаковыми */
  margin-top: 1rem;
}
@media (min-width: 576px) {
  .about-block {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img    ." "header header" "text   text";
  }
}
@media (min-width: 768px) {
  .about-block {
    grid-template-columns: 2fr 3fr;
    grid-template-areas: "header header" "img    text";
  }
}
@media (min-width: 992px) {
  .about-block {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "img header" "img text";
  }
}

.about-block__header {
  grid-area: header;
  max-width: 40rem;
}

.about-block__img {
  grid-area: img;
  width: 100%;
  border-radius: var(--border-radius);
}

.about-block__text {
  grid-area: text;
}

.cast-member-page__upper-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-areas: "name" "cover" "bio";
}
@media (min-width: 992px) {
  .cast-member-page__upper-grid {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "cover name" "cover bio";
  }
}

.cast-member-page__name {
  grid-area: name;
}

.cast-member-page__cover {
  grid-area: cover;
  width: 100%;
  max-width: 25rem;
  border-radius: var(--border-radius);
}
@media (min-width: 992px) {
  .cast-member-page__cover {
    max-height: 90vh;
  }
}

.cast-member-page__bio {
  grid-area: bio;
}
.cast-member-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 15rem);
}

.cast-member-card {
  display: grid;
  grid-template-rows: auto 1fr;
  text-decoration: none;
}

.cast-member-card__img-wrapper {
  position: relative;
  max-width: 15rem;
}
.cast-member-card__img-wrapper::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.cast-member-card__img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: var(--border-radius);
}

.cast-member-card__name {
  margin-top: -0.3rem;
}

.footer {
  --footer__module_height_big: 6rem;
  --footer__module_height_small: 3rem;
  display: grid;
  grid-template-rows: repeat(11, var(--footer__module_height_small));
  grid-template-areas: "soc" "soc" "links" "links" "links" "links" "theatre" "theatre" "contacts" "contacts" "credits";
}
@media (min-width: 768px) {
  .footer {
    grid-template-rows: repeat(3, var(--footer__module_height_big));
    grid-template-areas: "theatre   links" "soc       links" "contacts  credits";
  }
}
@media (min-width: 992px) {
  .footer {
    grid-template-rows: repeat(5, var(--footer__module_height_small));
    grid-template-areas: "theatre  theatre   links" "theatre  theatre   links" "soc      contacts  links" "soc      contacts  links" "credits  credits   credits";
  }
}

.footer__module {
  display: flex;
  align-items: center;
  color: var(--text-accent);
  border-radius: var(--border-radius);
}

.footer__soc {
  grid-area: soc;
  display: flex;
  justify-content: space-evenly;
  background: var(--accent-cross);
  padding: 0.75rem 10%;
  align-items: stretch;
}

.footer__soc-img {
  flex: 1 1;
  background: var(--text-accent);
  padding: 0.5rem;
}

.vk-icon {
  -webkit-mask: url(media/soc/vk.svg) center/contain no-repeat content-box;
          mask: url(media/soc/vk.svg) center/contain no-repeat content-box;
}

.inst-icon {
  -webkit-mask: url(media/soc/inst.svg) center/contain no-repeat content-box;
          mask: url(media/soc/inst.svg) center/contain no-repeat content-box;
}

.tg-icon {
  -webkit-mask: url(media/soc/tg.svg) center/contain no-repeat content-box;
          mask: url(media/soc/tg.svg) center/contain no-repeat content-box;
}

.footer__links {
  grid-area: links;
  display: flex;
  flex-direction: column;
}

.footer__link {
  flex-grow: 1;
  padding: 0 1rem;
  background: var(--accent-cross);
  position: relative;
}
.footer__link:nth-child(odd) {
  background: var(--accent-cross-inverse);
}
.footer__link:after {
  content: "→";
  font-weight: 700;
  position: absolute;
  margin-bottom: 0.25rem;
  right: 1rem;
}

.footer__theatre {
  grid-area: theatre;
  display: flex;
}

.footer__logo-container {
  padding: 0.75rem;
  background: var(--accent-cross-inverse);
}

.footer__logo-img {
  /* Пришлось задать размеры жёстче, чем «height: 100%».
     Иначе в Firefox какие-то глюки. */
  height: calc(var(--footer__module_height_big) / 1.5);
}

.footer__name {
  max-width: unset;
  justify-content: flex-start;
  flex-grow: 1;
  background: var(--accent-cross);
  padding-left: 1.5rem;
}

.footer__photo {
  display: none;
  background: var(--accent-cross-inverse);
  padding: 1rem 1.5rem;
}
@media (min-width: 992px) {
  .footer__photo {
    display: block;
  }
}

.footer__photo-img {
  border-radius: var(--border-radius-tiny);
  /* Пришлось задать размеры жёстче, чем «height: 100%».
    Иначе в Firefox какие-то глюки. */
  height: calc(var(--footer__module_height_big) / 1.5);
}

.footer__contacts {
  grid-area: contacts;
  justify-content: center;
  line-height: var(--line-height-small);
  background: var(--accent-cross-inverse);
}

.footer__credits {
  grid-area: credits;
  background: var(--accent-cross);
  justify-content: center;
  height: var(--footer__module_height_small);
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer__credits {
    height: var(--footer__module_height_big);
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.drag-to-scroll::-webkit-scrollbar {
  display: none;
}

.drag-to-scroll {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: auto;
}