<!doctype html>
<html class="html color-theme [[color-theme_names? &CTName=`[[*color-theme_name]]`]]" lang="ru-RU">
  <head>
    [[$head]]
  </head>
  <body class="body">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2XN9J6"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    [[$site-header]]
    [[*content]]
    [[$footer]]
  </body>
</html>